{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.zip {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.65.1029"}
                com.github.liquidz/testdoc {:mvn/version "1.5.0"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :build
  {:deps {com.github.liquidz/build.edn {:git/tag "0.1.34" :git/sha "ccb8409"}}
   :ns-default build-edn.main}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
